<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default("Tianer Tang – Personal Website") }}</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <header>
    <h1>{{ title | default("Tianer Tang") }}</h1>
  <p id="typing"></p>
  <script>
  const text = "{{ description | default("Hello, this is Tianer Tang. See my essays, research projects, and activities in mathematics, philosophy, cyber security, and classical music.") }}";
  let i = 0;
  function type() {
   if (i < text.length) {
    document.getElementById("typing").innerHTML += text.charAt(i);
    i++;
    setTimeout(type, 28);
   }
  }
  type();
  </script>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <hr>
    <p>© 2025 Tianer Tang | <a href="https://github.com/st3lx">GitHub</a> | <a href="mailto:stellatang08@hotmail.com">stellatang08@hotmail.com</a> </p>
  </footer>
</body>
</html>

